[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = git@github.com:Tencent/rapidjson.git
[submodule "thirdparty/gflags"]
	path = thirdparty/gflags
	url = git@github.com:gflags/gflags.git
